/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

iframe{
  display: block;
  height: 350px;
  width: 550px;
  margin: 0 auto;
}

.hidden{
  display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
